body {
    background: lightgoldenrodyellow;
    color: darkslategrey;
}
header {
    background: snow;
}
h1 {
    border-bottom: solid 8px yellowgreen;
    width: 50%;
}
h2 {
    color: coral;
}
p {
    color: brown;
}
footer {
    background: white;
    position: fixed;
    bottom: 0;
    border-top: 2px solid saddlebrown;
    margin: 0;
    width: 100%;
}
footer li {
    list-style: none;
}