body {
    background: lightgoldenrodyellow;
    color: darkslategrey;
}
h1 {
    border-bottom: dashed 3px black;
}
p {
    color: brown;
}
footer {
    background: white;
    position: fixed;
    bottom: 0;
    border-top: 2px solid saddlebrown;
    margin: 0;
    width: 100%;
}
footer li {
    list-style: none;
}